 html {
     background-color: #2962FF;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
 
 footer{
    color: white; 
    text-align: center;
    padding-top: 27em;
    padding-bottom: 5em;
}